{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="about" class="py-5 text-light" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="container">
      <h2 class="fw-bold mb-4 text-uppercase text-center">О себе</h2>
      <p class="lead text-center">
        Профессиональный монтаж технологических трубопроводов и металлоконструкций.<br>
        Выполняем комплексные монтажные и сварочные работы на объектах пищевой, нефтехимической, химической промышленности и ТЭЦ.<br>
        Гарантируем качество, точность и соблюдение технологических норм на каждом этапе.<br><br>
        За годы работы наша команда участвовала в реализации проектов на газо- и нефтеперерабатывающих заводах компаний
        <strong>Лукойл</strong>, <strong>Газпром</strong>, <strong>TOTAL</strong>, а также на ТЭЦ городов
        <strong>Казань</strong>, <strong>Краснодар</strong>, <strong>Тамбов</strong>.<br>
        Опыт включает выполнение работ для ведущих предприятий пищевой промышленности —
        <strong>Vimm Bill Dann</strong>, <strong>Danone</strong>, <strong>Mars</strong>, <strong>Lays</strong>, <strong>PepsiCo</strong> и других.<br><br>
        Общий опыт в сфере промышленного монтажа — более <strong>20 лет</strong>.
      </p>
    </div>
  </section>
</div>
{% endblock %}
