{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-section d-flex flex-column align-items-center justify-content-center text-center text-white">
  <div class="bg-overlay"></div>
  <div class="hero-content">
    <h1 class="display-4 fw-bold">ИП Павел Силкин</h1>
    <p class="lead mt-3">Профессиональный монтаж технологических трубопроводов и металлоконструкций.<br>
      Выполняем комплексные монтажные и сварочные работы на объектах пищевой, нефтехимической, химической промышленности и ТЭЦ.<br>
      Гарантируем качество, точность и соблюдение технологических норм на каждом этапе.<br>
    <a href="/portfolio/" class="btn btn-primary btn-lg mt-3">Посмотреть работы</a>
  </div>
</div>
{% endblock %}
